@import url("https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@theme {
    --font-rounded: "Rubik Mono One", sans-serif;
    --text-spacing-2xs: -0.1em;
    --text-spacing-xs: -0.05em;
    --text-spacing-sm: -0.025em;
    --text-spacing-md: 0em;
    --text-spacing-lg: 0.025em;
    --text-spacing-xl: 0.05em;
    --default-font-family: "Inter", sans-serif;
    --font-sans: "Inter", sans-serif;
    --font-condensed: "Roboto Condensed", sans-serif;
}

@utility letter-spacing-* {
    letter-spacing: --value(--text-spacing-*);
}
@utility line-height-* {
    line-height: calc(--value(--text-spacing-*) * 10 + 1em);
}

@layer components {
    *, *::before, *::after {
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
    .card {
        @apply border border-gray-300 dark:border-gray-900 rounded-lg p-4 text-center h-auto flex-auto flex flex-col;
        background: linear-gradient(15deg, var(--color-gray-100), transparent);
        box-shadow: 0 0 0 2px rgb(from var(--color-gray-400) r g b / 0.2);
        cursor: default;
        position: relative;
        @variant hover {
            background: linear-gradient(15deg, var(--color-gray-200), transparent);
            box-shadow: 0 0 0 2px rgb(from var(--color-gray-500) r g b / 0.2);
        }
        @variant dark {
            background: linear-gradient(15deg, var(--color-gray-900), transparent);
            box-shadow: 0 0 0 2px rgb(from var(--color-gray-800) r g b / 0.2);
            @variant hover {
                background: linear-gradient(15deg, var(--color-gray-800), transparent);
                box-shadow: 0 0 0 2px rgb(from var(--color-gray-700) r g b / 0.2);
            }
        }
    }
    .card .card-title {
        @apply text-6xl font-bold pb-2 mb-1 letter-spacing-xs overflow-hidden;
    }
    .card .card-title:has(+ .card-subtitle:not(:empty)) {
        @apply -mb-1;
    }
    .card .card-subtitle {
        @apply text-4xl font-black letter-spacing-sm text-gray-700 dark:text-gray-300;
    }
    .card .card-content {
        @apply text-lg font-medium text-gray-700 dark:text-gray-300 flex-auto;
    }
    .card .card-link {
        @apply text-lg font-medium text-blue-500 dark:text-blue-400 hover:text-blue-600 dark:hover:text-blue-300;
        position: absolute;
        bottom: var(--spacing);
        left: 50%;
        transform: translateX(-50%);
    }
    .card:has(.card-link) {
        padding-bottom: calc(var(--spacing) * 8);
    }
    bs-icon {
        @apply inline-block;
        vertical-align: -0.15em;
    }
    bs-icon svg {
        width: 1em;
        height: 1em;
    }
    .icon-link {
        @apply flex flex-row gap-1 items-center transition-all hover:gap-2;
        transition-property: gap;
    }
    ::selection {
        background-color: var(--color-blue-500);
        color: var(--color-white);
    }
}